<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="laser">

    <xacro:macro name="rplidar" params="prefix:=laser">
        <!-- Create laser reference frame -->
        <link name="${prefix}_link">
          <inertial>
            <origin
              xyz="2.77555756156289E-17 -2.60208521396521E-17 -0.0296272769990145"
              rpy="0 0 0" />
            <mass
              value="0.398155541808567" />
            <inertia
              ixx="0.000367671937320448"
              ixy="0"
              ixz="0"
              iyy="0.000367671937320448"
              iyz="0"
              izz="0.00031914344200442" />
          </inertial>

          <visual>
            <origin
              xyz="0 0 0"
              rpy="0 0 0" />
            <geometry>
              <mesh
                filename="package://mbot_description/meshes/link_lidar.STL" />
            </geometry>
          </visual>
          <collision>
            <origin
              xyz="0 0 0"
              rpy="0 0 0" />
            <geometry>
              <mesh
                filename="package://mbot_description/meshes/link_lidar.STL" />
            </geometry>
          </collision>
        </link>

        <gazebo reference="${prefix}_link">
            <material>Gazebo/Black</material>
        </gazebo>

        <gazebo reference="${prefix}_link">
            <sensor type="ray" name="rplidar">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>5.5</update_rate>
                <ray>
                    <scan>
                      <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.396</min_angle>
                        <max_angle>1.396</max_angle>
                      </horizontal>
                    </scan>
                    <range>
                      <min>0.15</min>
                      <max>20</max>
                      <resolution>0.01</resolution>
                    </range>
                    <noise>
                      <type>gaussian</type>
                      <mean>0.0</mean>
                      <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_rplidar" filename="libgazebo_ros_laser.so">
                    <topicName>/scan</topicName>
                    <frameName>laser_link</frameName>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>
